nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 24px;
}

ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #171010;
}
